<html>
    <head>
        <title>Credentials</title>
        <style>
            body{
                background-image: linear-gradient(lightblue,grey);
            }
            div{
                height:400px;
                width:200px;
                background-color: bisque;
                border:solid;
            }
            input{
                font-family: monospace;
            }
        </style>
    </head>
    <body>
        <form action="/" method="post">
            <center>
            <div>
                <h1 style="font-family: monospace;"><b>Enter your Credentials</b></h1>
            Enter your User:<input type="text" id="n" name="n">
            Enter you password:<input type="password" id="p" name="p" maxlength="8">
            <input type="submit" value="Enter">
            </div>
            </center>
        </form>
    </body>
</html>