<html>
    <head>
        <title>Home</title>
    </head>
<style>
    div{
        display:center;
        
    }
    .styler{
        width:150px;
        height:200px;
        text-align:center;
        background-color: blue;
    }
    body{
        background-color: lawngreen;
    }
    h2{
        text-decoration: underline;
        font-family: monospace;
    }
    button{
        background-color: aqua;
        font-family: monospace;
    }
    footer{
        border:solid;
        background-color: olivedrab;
    }
</style>
<body background="C:\Users\HP\Desktop\math2.jpg">
    <h1 style="font-family: monospace;padding: 40px;border:solid;text-align:center;background-color: darkgreen;">OpenMath</h1>
    <center>
        <div style="width: 500px;height: 90px;background-color: darkorchid;border: dashed">
    <h3 style="font-family: monospace;"><i><big>Rules to write a matrix</big></i></h3>
    <p style="font-size: large;font-family: monospace;"><i><b>write matrix like this --> [[1,2],[3,4]]</b></i></p>
        </div>
        <br>
    <div class="styler" style="border:solid">
        <br>
    <div><button><a href="/deter">Determinant</a></button></div>
        <br>
    <div><button><a href="/multi">Multiplication</a></button></div>
        <br>
    <div><button><a href="/inverse">Inverse</a></button></div>
        <br>
    <div><button><a href="/rank">Rank</a></button></div>
        <br>
    </div>
    </center>
    <center>
    <h2><i>Enter your feedback</i></h2>
    <form action="/" method="post">
        <div style="width:210px;height:120px;background-color: cadetblue;border:solid;">
        <div style="font-family: monospace;">
        <label for="name"><b><big>Name</big></b></label></div>
        <input type="search" id="name" name="name" value="name"></input>
        <div style="font-family: monospace;">
        <label for="feedback"><b><big>Feedback</big></b></label></div>
        <input type="search" id="feed" name="feed" value="feedback"></input>
        <div><input type="submit"></div>
        </div>
    </form>
    <br>
    <footer>
        <p style="font-size: large;font-family: monospace;"><b>Content owned by Adithya</p>
        <p style="font-size: large;font-family: monospace;"><b>adithyaps929@gmail.com</p>
        </center>
    </footer>
</body>
</html>