<html>
    <head>
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>ERROR 404</title>
        <style>
            h1{
                font-size:35px;
                font-family: monospace;
            }
            div{
                font-family: monospace;
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        <center>
        <h1>ERROR IN INPUT</h1>
        <hr>
        <div>
            <h3>What could be the reasons?</h3>
            <ul>
                <li>Error in giving matrix, e.g: giving letter instead of numbers</li>
                <li>Wrong dimensions of matrix</li>
                <li>Internal function error</li>
                <li>No input given</li>
            </ul>
        </div>
        </center>
        </body>
</html>