<html>
    <head>
        <title>Psw Error</title>
        <style>
            h1{
                font-family: monospace;
                font-size: 35px;
            }
            p{
                font-family: monospace;
                font-size: 20px;
            }
        </style>
    </head>
    <body>
        <center>
        <h1>Error in Password/User</h1>
        <hr>
        <p>Mail adithyaps929@gmail.com to get the password/username</p>
        <p>Also ask for a personalised id/password</p>
        <p>You've not Signed Up</p>
        </center>
    </body>
</html>