<html>
    <head>
        <link rel="icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0MMxsDKMxQb9VuGtn5wWfQ5i6HPJz8jUQ2w&usqp=CAU">
        <title>Learn</title>
        <style>
            @keyframes text {
                from {color:limegreen}
                to{color: red;}

            }
            body{
                background-image: linear-gradient(white,crimson);
            }
            @keyframes normal {
                from{color:red}
                to{color:chartreuse}
            }
        </style>
    </head>
    <body>
        <center><h1 style="font-style: oblique;font-family: monospace;font-size: 50px;animation-name: text;animation-duration: 2s;animation-iteration-count: infinite;">Collection of Resources</h1></center>
        <div>
            <center>
            <h1 style="font-size:30px;font-family: monospace;text-decoration: underline;">Matrix</h1>
            </center>
            <br>
            <hr>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0oGJTQCy4cQ?si=JQNCnNNWm26XluEz?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <span style="left:575px;top:190px;position: absolute;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9YtmGy-wfE4?si=n_4Tes6wz5ggEoo_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </span>
        <div>
            <center>
            <h1 style="font-size:30px;font-family: monospace;text-decoration: underline;">Integral Calculus</h1>
            </center>
            <br>
            <hr>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7K1sB05pE0A?si=et_SSw9weauJvJc_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <span style="left:575px;top:618px;position: absolute;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/L6_c6qvlB8I?si=eMI3C_Qa-bjHgqhj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </span>
        <div>
            <center>
            <h1 style="font-size:30px;font-family: monospace;text-decoration: underline;">Introduction to Programming</h1>
            </center>
            <br>
            <hr>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/LfaMVlDaQ24?si=A9tTMhlsdxwRmzoy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <span style="left:575px;top:1043px;position: absolute;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8jLOx1hD3_o?si=6zQpV-fyVychdZXC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </span>
        <br>
        <center>
        <footer style="background-color: whitesmoke;width:auto;height:90px;border-radius:25px">
            <p style="font-size: large;font-family: monospace;"><b>Content owned by OpenMath&trade;</p>
            <p style="font-size: large;font-family: monospace;"><b>If any bugs found, report to - adithyaps929@gmail.com</p>
                <p style="font-size: large;font-family: monospace;"><a href="/home" style="color:red;text-decoration: none;animation-name: normal;animation-duration: 2s;animation-iteration-count: infinite;">HOME</p>
            </center>
        </footer>
    </body>
</html>
